$color-1: #f8f6fc;
$color-2: #027fe5;
$color-3: #1d20ab;
$color-4: #b0aae6;
$color-5: #7f4d76;
$color-6: #2398d7;

$white: #ffffff;
$dark: #00102c;
$green: #248c24;
$red: #ca1917;
$orange: #fbac08;
$gray: #bcbcbb;
$yellow: #f9d800;

// Status

$draft: #f9d8b2;
$published: #c0f0c0;
$pending: #fcfcac;
$paid: #dcfcbc;
$overdue: #fc7374;

//Fonts

$font-family-1: 'Mulish', sans-serif;
$font-size-base: 14px;
